/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 
 
.afsp-panel{width:100%; clear:both; overflow: auto;} 
.afsp-panel-div{width:100%; clear:both;   padding: 10px 0;    overflow: auto;}
.afsp-panel-div.tabs label{width:100%; float:left; text-align:left; margin-bottom:10px; font-weight:600;}
.afsp-panel-div.tabs input[type=text]{width:75%; float:left; text-align:left; margin-left:0px;    display: block;}

.afsp-panel-div label{width:20%; float:left; text-align:right;}



.afsp-panel-div input[type=text]{width:75%; float:left; text-align:left; margin-left:20px;    display: block;}
.afsp-panel-div input[type=number]{width:75%; float:left; text-align:left; margin-left:20px;    display: block;}
.afsp-panel-div textarea{width:100%; float:left; text-align:left; margin-left:20px;    display: block;}
.afsp-panel-div select{width:30%; float:left; text-align:left; margin-left:20px;    display: block;}
.afsp-panel-div input[type=radio]{width:16px; height:16px; float:left; text-align:left; margin-left:20px; display: block; margin-top: 0px;}
.control-radio label{float:left; width: auto; margin-right: 20px;}
.control-input {
    float: left;
    width: 75%;   
}

.control-input label{text-align: left;    width: 10%;    margin-left: 10px;}
.one-third{
	width:33% !important;
	clear:none !important;
	float: left;
}
.panel-bg-border{
	border:1px solid #ccc;    padding: 5px;
	margin-bottom:10px;
}
.afsp-panel-close{
	margin-bottom: 10px;
}
.afsp-panel-close a{
	background: #0085ba;
    color: #fff;
    width: 30px;
    padding: 5px 15px;
    /* float: right; */
    position: absolute;
    right: 20px;
	text-decoration:none;
}
.afsp-add-new-tab a{
	background: #0085ba;
    color: #fff;
    width: 30px;
    padding: 5px 15px;
    /* float: right; */   
	text-decoration:none;
}
.hide{
	display:none;
}
 #advanced_floating_sliding_panel_basic_options{/*margin-top:-50px;*/}
/*.afsp-panel{width:100%; clear:both;}
.afsp-panel-div{width:100%; clear:both;   padding: 10px 0;    overflow: auto;}*/


.wp-picker-container{margin-left:20px !important;}
#selective_posts,#selective_pages,#selective_categories,#selective_cpts,#border_radious_area,#tab_border_radious_area,#selective_bbPress,#selective_wooCategories,#selective_wooCommerce {display:none;}

.about-wrap-afsp {
    position: relative;
    margin: 25px 40px 0 20px;
    max-width: 1050px;
    font-size: 15px;
}
.about-wrap-afsp h1 {
    margin: .2em 200px 0 0;
    padding: 0;
    color: #32373c;
    line-height: 1.2em;
    font-size: 2.8em;
    font-weight: 400;
}

.about-wrap-afsp h2 {   
    padding: 0 !important;
    color: #32373c;
    line-height: 1.2em !important;
    font-size: 2.0em !important;
    font-weight: 400;
    text-align: center;
	
}
.about-text-afsp {
    margin: 1em 20px 1em 0;
    min-height: 60px;
    color: #555d66;
}
.about-text-afsp {
    margin-top: 1.4em;
    font-weight: 400;
    line-height: 1.6em;
    font-size: 19px;
	width: 80%;
	float: left;
}
.about-wrap.fl-badge {
    background-image: url(../assets/Logo.png) !important;
}
.guide_wrap{
    max-width: 300px;
    float: left;
    border: 1px solid #ccc;
    width: 300px;    
    margin: 50px 30px 0 0;
     -webkit-box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
    box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
    text-align: center;
    min-height: 300px;
    font-weight: bold;
    font-size: 20px;   
    
    line-height: 25px;
}
.guide_wrap span{
    margin-top: 150px;    
    display: inline-block;
    padding: 20px;
}
.guide_wrap a{
    display: block;
    height: 300px;
    color: #555d66;
}
.faq {
    background: url(../assets/faq-icon.png) no-repeat 50% 30% !important;
}
.doc {
    background: url(../assets/doc-icon.png) no-repeat 50% 30% !important;
}
.email {
    background: url(../assets/email-icon.png) no-repeat 50% 30% !important;
}
.group{
    background: url(../assets/group-icon.png) no-repeat 50% 30% !important;
}
.tester{
    background: url(../assets/tester-icon.png) no-repeat 50% 30% !important;
}
.help_tab{
    margin: 20px 0;
    display: inline-block;
        font-size: 15px;
}
a.menu-icon-ct_afsp{
	background: url(../assets/afsp-icon.png) no-repeat 5% center !important;
}
a.menu-icon-ct_afsp:hover{
	background: url(../assets/afsp-icon-hover.png) no-repeat 5% center !important;
}
.afsp_pro_feature{
    color: #ff0000;
    font-size: 14px;
    text-decoration: underline;
    font-weight: bold;
}